{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}

{% block content %}

<h2>Change Password</h2>
<br/><br/>
<div class="form-group">
    <ul>
        <li>Your password cannot be similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password cannot be a commonly used password.</li>
        <li>Your password cannot be entirely numeric.</li>
    </ul>
    
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" class="btn btn-secondary">Submit</button>


</div>


{% endblock %}